.kenarlik-yumusak{
    border-style: hidden;
    border-radius: 10px;

}
.bosluk{
    margin-left: 10px;
}
.input-cerceve{
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
 
}
.check-sol{
    margin-left: 10px;
}